@import  compass/css3;

@import  "http://fonts.googleapis.com/css?family=Lato";

font-family: 'Titillium Web',sans-serif;
font-family: Orbitron,sans-serif;
$background: #e74c3c;
$file-upload-color: #c0392b;
$file-upload-size: 300px;
* {
    margin: 0;
    padding: 0;
}

.summary {
 border: 100px solid #black;
 text-align: center;
}
.summary < body {
    font-family: Lato,Arial;
    color: #fff;
    padding: 55px 25px;
    background-color: #fff;
}

#Filetitle {
    font-size: 30px;
    font-family: Titillium Web;
    color: orange;
}

.custom-file-upload-hidden {
    display: none;
    visibility: hidden;
    left: -9999px;
}

.custom-file-upload {
	text-align: center;
}    
}

.file-upload-wrapper {
    position: relative;
    margin-bottom: 5px;
    //border: 1px solid #ccc;
}

.file-upload-input {
    width: $file-upload-size;
    color: #fff;
    font-size: 16px;
    padding: 11px 17px;
    border: none;
    background-color: $file-upload-color;
    float: left;
/* IE 9 Fix */
    &: hover,&:focus {;
    background-color: darken($file-upload-color,5);
    outline: none;
}    
}

.file-upload-button {
    cursor: pointer;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 11px 20px;
    border: none;
    margin-left: -1px;
    background-color: darken($file-upload-color,10);
    float: left;
/* IE 9 Fix */
    &: hover {;
    background-color: darken($file-upload-color,20);
}    
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

.nav {
    color: orange;
    position: fixed;
    top: 0;
    background: #000;
    width: 100%;
    height: 70px;
}

.nav > h3 {
    float: left;
    font-family: Titillium Web;
}

.nav > img {
    float: right;
    height: 100%;
}

p {
    font-size: 20px;
    color: #000;
    font-family: Tahoma;
}

.body {
    background-image: url(images/ai.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-size: 100%;
}


.title {
    font-family: Orbitron;
    padding-top: 20px;
    margin-bottom: 0px;
    color: orange;
    text-align: center;
    font-size: 65px;
}

.image{
    height: 200px;
    width: 500px;
    margin: 0 auto;
}


.image img {
    /* size and image quality */
    height: 200px;
    width:  500px;
    position: relative;
    object-fit: contain;
    opacity: 0.5;
   
    /* center the image */
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    /* style up the image */

    -webkit-box-shadow: 0px 21px 143px 1px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 21px 143px 1px rgba(0,0,0,0.49);
    box-shadow: 0px 21px 143px 1px rgba(0,0,0,0.49);

    /* animations */

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}

.image img:hover{

    opacity: 1;
}


@media screen and (orientation: portrait) {
    img.ri { max-width: 90%; }
}

@media screen and (orientation: landscape) {
    img.ri { max-height: 90%; }
}

.upload {
    margin: auto;
    text-align: center;
    position: relative;
    float:left
    display:inline-block;
    left: 0%;
    padding-top: 20px;
    padding-bottom: 20px;
}
    
#taglist {
    background-color: transparent;
    font-family: Orbitron;
    font-weight: bold;
    font-size: 32px;
    color: orange;
    text-align: center;
    list-style-type:none;
}



.description {
	color: gray;
	opacity: 0.45;
}

.description > p{
	color: silver;
}

.team > h1 {
    font-family: Titillium Web;
    color: orange;
    font-size: 30px;
}

h2 {
    color: orange;
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

#ham:hover {
}

a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: grey;
}

a:hover {
    color: #0f0;
    background-color: transparent;
    text-decoration: underline;
}    
}
